head
	meta(charset='utf-8')
	if pageTitle !== undefined
		title #{ pageTitle } | #{ siteTitle }
	else
		title #{ siteTitle }
	meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='theme-color' content='#603')

	meta(name='description' content='')
	meta(name='format-detection' content='telephone=no')

	link(rel='stylesheet' href='/assets/stylesheets/style.css')