header.mn-header
	.mn-header__inner
		.mn-header__logo
			a.mn-logo(href='/')
				.mn-logo__img monoweb.jp
	.mn-header__navigation
		nav.mn-navigation
			ul.mn-navigation__items
				li.mn-navigation__item
					a.mn-navigation__link(href='')
						span.mn-navigation__link-txt ナビ1
				li.mn-navigation__item
					a.mn-navigation__link(href='')
						span.mn-navigation__link-txt ナビ2
				li.mn-navigation__item
					a.mn-navigation__link(href='')
						span.mn-navigation__link-txt ナビ3
				li.mn-navigation__item
					a.mn-navigation__link(href='')
						span.mn-navigation__link-txt ナビ4